.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  

  
  .footer-logo h2 {
    font-size: 24px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 10px 0;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-socials a {
    color: #fff;

    text-decoration: none;
  }
  
  .footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #444;
  }
  
  .footer-bottom p {
    margin: 0;
  }